
.clients__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: $title-text-color;
}



.clients__link {
    display: flex;

    align-items: center;
    justify-content: center;

    cursor: pointer;

    // width: 170px;
    height: 92px;

    border: 1px solid $main-icon-color;

    border-radius: 4px;

    color: $main-icon-color;

    transition: color $transition-style, border-color $transition-style;



    &:hover,
    &:focus-within {
        color: $link-color;
        border-color: $link-color;
        outline: none;
    }

}



.clients__img {
    fill: currentColor;
    width: 106px;
    height: 60px;
}


@media screen and(min-width:480px) {

    .clients__list {
        @media screen and(max-width:1139px) {
            flex-wrap: wrap;
        }
            $indent: 30px;
            display: flex;
            
            margin: calc(-1 * $indent / 2);
        }
    
        .clients__item {
            @media screen and(min-width:1140px) {
            $items: 6;
                $amount: 5;
            }
            $basis: 100%;
            $indent: 30px;
            $items: 2;
            $amount: 2;
            margin: calc($indent / 2);
            flex-basis: calc(($basis - $indent * $items) / $amount);
        }
    
}

