.jobs {
  padding-top: 0;

  @media screen and(max-width:1139px) {
    display: none;
  }

  &__title {
    margin-bottom: 50px;

    text-align: center;

    color: $title-text-color;
  }

  &__list {
    $indent: 30px;
    display: flex;
    margin: calc(-1 * $indent / 2);
  }

  &__item {
    position: relative;

    $basis: 100%;
    $indent: 30px;
    $items: 3;
    $amount: 3;
    margin: calc($indent / 2);
    flex-basis: calc(($basis - $indent * $items) / $amount);
  }

  &__text {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    left: 0;
    bottom: 0;

    width: 100%;
    min-height: 70px;

    text-transform: uppercase;

    color: $secondary-text-color;
    background: $first-text-bcg-color;
  }
}
