.logo {
  @include font(700, 26px, 31px, 0.03em);

  font-family: 'Raleway';

  text-decoration: none;

  &--color--blue {
    color: $first-logo-color;
  }
}

// header logo

.header__logo {
  color: $second-logo-color;

  @media screen and(min-width:480px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

// footer logo
.footer__logo {
  display: block;

  color: $secondary-text-color;
}
