.header__menu {
  display: flex;
}

.nav {
  align-items: center;
  display: flex;

  @media screen and(max-width:767px) {
    display: none;
  }

  &__item--active {
    position: relative;
  }

  &__item:nth-child(n + 2) {
    margin-left: 50px;
  }
}

.nav__link {
  @include font(500, 14px,16px,0.02em);
  
  display: block;
  text-decoration: none;
  
  color: $title-text-color;
  transition: color $transition-style;

  &:hover,
  &:focus {
    color: $link-color;
  }

  &--active {
    color: $link-color;
  }

  &--active::after {
    position: absolute;
    content: '';

    bottom: -32px;
    left: 0;
    border-radius: 2px;

    width: 100%;
    height: 4px;

    background-color: $link-color;
  }
}
