.header {
  width: 100vw;
  position: relative;
  border-bottom: 1px solid $main-border-color;

  &__container {
    @media screen and(min-width:768px) {
      // display: flex;
      // align-items: center;
    }
  }

  &__list {
    @media screen and(min-width:768px) {
      display: flex;
    }

    @media screen and(min-width:1140px) {
      margin-left: 93px;
    }
  }
}
