.header-social__link {
  @media screen and(max-width:479px) {
    border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  }
}

@media screen and(min-width:480px) {
  .header-social {
    display: flex;
  }

  .header-social__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  .header-social__link {
    @include font(500, 18px, 22px, 0.02em);

    color: $link-color;
  }
}

.header-social__item:not(:last-child) {
  margin-bottom: 5px;
}

.header-social__link {
  @include font(500, 18px, 22px, 0.02em);
  padding-left: 10px;
  padding-right: 10px;
  color: $link-color;
}

.header-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  @media screen and(min-width:768px) {
    display: none;
  }
}
