.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $first-bcg-color;

  &__container {
    text-align: center;

    @media screen and(min-width:768px) {
      display: flex;

      align-items: baseline;
    }

    @media screen and(min-width:768px) and(max-width:1139px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__addres {
    margin-top: 20px;
    font-style: normal;
  }

  &__item:nth-child(n + 2) {
    margin-top: 9px;
  }

  &__title {
    text-transform: uppercase;
    color: $secondary-text-color;

    margin-bottom: 20px;
  }
}

.footer__link {
  @include font(400, 14px, 24px, 0.03em);

  color: $third-text-color;

  transition: color $transition-style;

  &:hover,
  &:focus {
    color: $link-color;
  }
}

.footer__map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $secondary-text-color;

  transition: color $transition-style;

  &:hover,
  &:focus {
    color: $link-color;
  }
}
