@media screen and(max-width:767px) {
  .header__button {
    margin: 0;
    padding: 0;
    border: none;
    margin-left: auto;

    background-color: transparent;

    &.is-open .icon__cross {
      opacity: 1;
    }

    &.is-open .icon__menu {
      opacity: 0;
    }
  }

  .header__icon {
    z-index: 3;
    position: relative;
  }

  .icon__cross {
    opacity: 0;
  }
}

@media screen and(min-width:767px) {
  .header__button {
    display: none;
  }
}
