.contacts {
  @media screen and(max-width:767px) {
    display: flex;
    flex-direction: column-reverse;
    // margin-top: 302px;
    // margin-bottom: 64px;

    &__item:last-child {
      margin-bottom: 32px;
    }
  }

  // @media screen and(max-width:479px) {
  //   margin-top: 150px;
  // }

  @media screen and(min-width:768px) {
    margin-left: 65px;
  }

  @media screen and(min-width:1140px) {
    margin-left: 284px;
    display: flex;
    align-items: center;
  }

  &__item:nth-child(n + 2) {
    @media screen and(min-width:1140px) {
      margin-left: 50px;
    }

    @media screen and(min-width:768px) and(max-width:1139px) {
      margin-top: 10px;
    }
  }

  &__icon {
    margin-right: 10px;

    fill: currentColor;
    vertical-align: middle;

    @media screen and(max-width:767px) {
      display: none;
    }
  }
}

.contacts__link {
  @include font(500, 24px, 28px, 0.02em);
  cursor: pointer;

  color: $primari-text-color;

  transition: color $transition-style;

  @media screen and(min-width:480px) {
    @include font(500, 24px, 28px, 0.02em);
    color: $primari-text-color;
  }

  @media screen and(min-width:1140px) {
    @include font(500, 14px, 16px, 0.02em);
  }

  @media screen and(min-width:768px) and(max-width:1139px) {
    @include font(500, 12px, 14px, 0.02em);
  }

  @media screen and(min-width:480px) and(max-width:767px) {
    &--resize {
      @include font(500, 34px, 40px, 0.02em);
      color: $link-color;
    }
  }

  &:hover,
  &:focus {
    color: $link-color;
  }
}
