.footer__social {
  @media screen and(max-width:767px) {
    margin-top: 60px;
  }

  @media screen and(min-width:1140px) {
    margin-left: 70px;
  }

  &-list {
    display: flex;

    @media screen and(max-width:767px) {
      justify-content: center;
    }
  }

  &-icon {
    fill: currentColor;

    width: 20px;
    height: 20px;
  }
}

.footer__social-link {
  color: $secondary-text-color;
  background-color: $main-bg-icon-color;

  transition: background-color $transition-style;

  &:hover,
  &:focus {
    background-color: $link-color;
  }
}
