.header {
    border-bottom: 1px solid $main-border-color;


    

    &__container {
            display: flex;
            align-items: center;
        }

        &__list {
            margin-left: 93px;

            @media screen and(max-width:1140px) {
                margin-left: 88px;
                
            }
        }


}




