.portfolio__buttons-list {
    display: flex;
    

    margin-bottom: 50px;

    @media screen and(min-width:767px) {
justify-content: center;
        
    }
}

.portfolio__button-item:not(:first-child) {
    @media screen and(min-width:767px) {
        margin-left: 8px;
    }
    
 }

 @media screen and(max-width:767px) {
        

       .portfolio__buttons-list {
                $indent: 16px;
                display: flex;
                flex-wrap: wrap;
                margin: calc(-1 * $indent / 2);
            }
        
       .portfolio__button-item {
                $basis: 100%;
                $indent: 16px;
                $items: 3;
                $amount:3;
                margin: calc($indent / 2);
                // flex-basis: calc(($basis - $indent * $items) / $amount);
            }
        
    }

    @media screen and(min-width:767px) {
        
    }


.portfolio__button-filter {
    cursor: pointer;

    border-radius: 4px;
    border: transparent;

    padding: 6px 22px;

    text-align: center;

    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: $second-bcg-color;
    color: $title-text-color;

    transition: color $transition-style, background-color $transition-style,
        box-shadow $transition-style;



    &:hover,
    &:focus {
        background-color: $link-color;
        color: $secondary-text-color;

        box-shadow: $first-button-box-shadow;
    }
}