.team__social-list {
    display: flex;

    justify-content: center;
}



.team__social-link {
    

    color: $main-icon-color;
    

    transition: color $transition-style, background-color $transition-style;


    &:hover,
    &:focus {
        background-color: $link-color;
        color: $secondary-text-color;
    }
}



.team__social-icon {
    fill: currentColor;
    width: 20px;
    height: 20px;


    &:hover,
    &:focus {
        fill: $secondary-text-color;
    }

}