.team__list {
    $indent: 30px;
    display: flex;
    margin: calc(-1 * $indent / 2);
}

.team__card {
    $basis: 100%;
    $indent: 30px;
    $items: 4;
    $amount: 3;
    margin: calc($indent / 2);
    flex-basis: calc(($basis - $indent * $items) / $amount);
}